.titleBarWrap{
    display: flex;
    height: 100%;
    width: auto;
    flex-wrap: wrap;  
}

.titleBar{
    padding: 0.2rem;   
}

.titleBar:hover{
    cursor: pointer;
}

.all{
    border:1px solid;
    width: auto;
    height: auto;
}

button {
    position: relative;
    color: var(--primary);
    background-color: transparent;
    border: none;
}

button:hover{
    color: var(--white);
}

  button[aria-label]:focus:after,
  button[aria-label]:hover:after {
    position: absolute;
    z-index: 1;
    top: -2em;
    left: 0;
    display: block;
    overflow: hidden;
    width: 10em;
    height: 2em;
    border-radius: .2em;
    padding: 0 .7em;
    content: attr(aria-label);
    color: #fff;
    background: #000;
    font-size: 1em;
    line-height: 2em;
    text-align: left;
  }
