.preview{
    display:flex;
    flex-direction: column;
    height: 100%;
}

.preview__scroll{
    overflow: auto;
    flex-grow: 1;
}

pre{
    background-color:var(--dark);
    border-radius: 5px;
   
}

code{
    
}