/* colors */
:root{
--black: #222;
--white: #fff;
--red-light: #f8d7da;
--red-dark: #842029;
--red-intense: #ff0000;
--green-light: #d1e7dd;
--green-dark: #0f5132;
--green-light: #34bc48;
--green-alert: #008000;

  /* box shadow*/
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}




/* ICONOS FALLO FORMULARIO */
  .failure-icon,
  .error {
    color: var(--red-intense);
  }
  
  .success-icon {
    color: var(--green-alert);
    
  }
  
  .error {
    font-size: calc(6px + 1vmin);
    margin-top: 5px;
  }
  
  .success-icon,
  .failure-icon {
    /* right: center; */
    opacity: 0;
  }